.swiper-pagination {
    width: 1300px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 0 120px 235px;
}

.custom-pagination-line {
     ;
    display: inline-block;
    width: 5px;
    height: 21px;
    margin: 0 5px;
    background-color: #ffffff;
    transition: background-color 0.3s, height 0.3s;
    border-radius: 0;
}

.swiper-pagination-bullet-active.custom-pagination-line {
    background-color: #ff0000;
    height: 43px;
}
